* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px 0;
    font-size: 16px;
    background-color: #d7b520;
    font-family: "Roboto", sans-serif;
}

#container {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #ddd;
    display: grid;
    grid-template-columns: [first] 30% [line2] 1fr [line3] 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "header header header" 
    "header header header" 
    "header header header" 
    "aside section-1 section-1"
    "aside section-2 section-2"
    "aside section-3 section-3"
    "footer footer footer";
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

#container > * {
    border: 2px solid #41719c;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

header { 
    grid-area: header;
    background-image: url(../img/tiszafured_strand_1000x563.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) ;
}
/* oldalsáv stílusa */

aside {
    grid-area: aside;
    background-color: #5b9bd5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) ;
}

div.aside-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* navigáció stílusa */

nav {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: auto;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    text-align: center;
    background-color: #e2dbbd85;
    border: none;
    border-radius: 5px;
    width: 50%;
    margin: 0.8rem auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) ;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);  
}

nav ul li a:hover {
    color: #fff;
}

/* űrlap stílusa */

form {
    display: flex;
    flex-direction: column;
    background-color: #41729c6b;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

form > * {
    margin: 0.4rem;
    padding: 0.1rem;
}

.font-bold {
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

div.ellatas {
    display: flex;
    flex-direction: column;
}

select {
    width: 100%;
}

button {
    width: 50%;
    padding: 0.6rem;
    height: auto;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

button:hover {
    background-color: #d7b520;
}

/* szekciók stílusai */
section {
    margin: 2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) ;
}

section p {
    margin-top: 1rem;
    text-align: justify;
}

section img {
    float: left;
    width: 40%;
    margin: 1rem;
}

h2 {
    width: 100%;
    text-align: center;
}

#section-1 {
    grid-area: section-1;
    background-color: #fbe5d6;
}

#section-2 {
    grid-area: section-2;
    background-color: #fff2cc;
}

#section-3 {
    grid-area: section-3;
    background-color: #deecf8;
}

footer {
    grid-area: footer;
    background-color: #e7e6e6;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) ;
}

@media (max-width: 360px) {
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

     nav ul li {
        width: auto;
        margin: 0;
        font-size: 0.8rem;
        padding: 0.2rem;
    }
}
@media (max-width: 768px) {
    #container {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #ddd;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    grid-template-areas:
    "header"  
    "header" 
    "aside" 
    "section-1"
    "section-2"
    "section-3"
    "footer";
    }

    section img {
        float: none;
        width: 100%;
        margin: 0 0 1rem 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul li {
        width: auto;
        margin: 0;
        font-size: 1.2rem;
        padding: 0.5rem;
    }
}

@media (min-width: 768px) {
    p {
        font-size: 1.2rem;
        line-height: 1.5;
    }

    form { 
        font-size: 1.2rem;
    }

    header {
        background-size: auto;
    }
}

