.black {
    width: 100%;
    height: 200px;
    background-color: black;
}

.red {
    width: 100%;
    height: 200px;
    background-color: red;
}

.yellow {
    width: 100%;
    height: 200px;
    background-color: yellow;
}