h1 {
    color: #000ff0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    text-shadow: 2px 2px 4px #888;
}

p{
    text-align: center;
}
img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    border: 5px solid #333;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.information {
    width: 600px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
    text-align: center;
    }

.text {
    text-align: center;
    
}
.top {
    width: auto;
    background-color:#b5e7a0;
    text-align: center;
    display: block;
  }

.top ul {
    width: auto;
  list-style-type: none;
  margin: 25px;
  padding: 25px;
  overflow: hidden;
  background-color: #b5e7a0;
  color: white;
 }

.top ul li {
  float: left;

}

.top ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 25px 16px;
}

.top ul li a:hover {
  background-color: #d5e1df;
}

.information .text {
    position: relative;
    left: 300px;
}
