div.welcome-message h1 {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s ease forwards;
}

.welcome-message h2 {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

section.news::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 5px;
  border-radius: 10px;
  background: linear-gradient(90deg, white, #0288d1, white, #0288d1, white);
  background-size: 300%;
  animation: borderRun 10s linear infinite;
  z-index: -1;
}

@keyframes borderRun {
  0% {
    background-position: 0%;
  }
  25% {
    background-position: 100%;
  }
  50% {
    background-color: 200%;
  }
  100% {
    background-position: 300%;
  }
}