body {
    background-color: aquamarine;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body h1 {
    font-size: 5rem;
}

main {
    border: 1px solid;
    background-color: aliceblue;
    width: 60%;
    margin: auto;
    }

table, td, th {
    border: 1px solid;
    width: auto;
}

table {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    
}