* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Zalando Sans Expanded", serif;
    font-size: 20px;
    font-optical-sizing: auto;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    

    background-image:url(../img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;
}

.flexbox h1 {
    font-size: 3rem;
}


.main-menu {
    background-color: red;
    height: 7vh;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-menu ul {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 30px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 5px;
}


.main-menu ul li a:hover {
    color: black;
    background-color: rgb(255, 255, 255, 0.2);
    border: 1px solid;
    border-color: black;
    border-radius: 5%;
}

.container {
    display: flex;
}

.secondary-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.secondary-menu li {
    padding: 1rem;
    margin: 2vh;
}

main { 
    margin: 2vh 20vh 2vh 2vh;
    text-align: justify;
}

.footer-box {
    display: flex;
    background-color: red;
    justify-content: space-around;
    align-items: center;
}

.f-elso {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1rem;
}

.f-elso li {
    list-style-type: none;
    text-decoration: none;
}

h2 {
    margin: 7vh 0vh;
}